<%-include('header')%>
    <style>
        @media screen and (max-width:600px){

.card3{
margin-left: 48px;
}
.card3:not(:first-child){
display: none;
}

}

    </style>
</head>

<body class="bg-info-subtle">
<!--Navbar Start-->

<nav class="navbar navbar-expand-lg p-3 mb-2 p-3 mb-2 bg-info text-white ">
  <div  class="container-fluid ">
    <a class="navbar-brand text-white fs-3 " href="/">Rhock Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-info text-danger-emphasis " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title " id="offcanvasDarkNavbarLabel">Spice Delight Bistro</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              For Patient
            </a>
          <ul class="dropdown-menu bg-info-subtle">
            <li><a class="dropdown-item " href="/test">Test Booking</a></li>
            
          </ul>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lab Test
            </a>
          <ul class="dropdown-menu bg-info-subtle">
            <li><a class="dropdown-item " href="/blood">Blood Test</a></li>
            <li><a class="dropdown-item" href="/urine">Urine Text</a></li>
            <li><a class="dropdown-item" href="/imaging">Imaging Test</a></li>
            <li><a class="dropdown-item" href="/micro">Microbiology Test</a></li>
            <li><a class="dropdown-item" href="/patho">Pathology Test</a></li>
            <li><a class="dropdown-item" href="/genetic">Genetic Test</a></li>
            <li><a class="dropdown-item" href="/cardiac">Cardiac Test</a></li>
            <li><a class="dropdown-item" href="/infectious">Infectious Disease Test</a></li>

          </ul>
          </li>
         
          <li class="nav-item mx-1">
            <a class="nav-link text-white " aria-current="page" href="/service">Service</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-white " aria-current="page" href="/test">Book a Test</a>
          </li>
          <li class="nav-item mx-1">
              <a class="nav-link text-dark active " aria-current="page" href="/about">About Us</a>
            </li>
            
            <li class="nav-item mx-1">
              <a class="nav-link text-white " aria-current="page" href="/contact">Contact Us</a>
            </li>
            
            
            
          </li>
        </ul>
      <!--Login-->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-2"> 
          <a href="/login" class="text-info text-decoration-none px-3 py-2  rounded-4" style="background-color: beige;">Login</a>
        
        </div>
      </div>
    </div> 
  </div>
</nav>
<!--NavBar End-->
    <!--carosal start-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="margin-top: -8px;">
      <div class="carousel-item active">
        <img src="About us.png" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div><br>
<!--carosal end-->
    <h2 style="text-align: center;">Who We Are?</h2><br>
    <!--card start-->
   <div class="card mb-3" style="background-color: rgb(167, 255, 159);;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="hospital.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-3">About Us</h5>
          <p style="text-align: justify;" class="card-text">Rhock hospitals are essential healthcare institutions that provide a broad spectrum 
            of medical services, including emergency care, surgeries, diagnostics, and specialized treatments 
            for various health conditions. They support patients with comprehensive care services such as rehabilitation,
             mental health counseling, nutrition advice,  social work assistance. Hospitals also focus on preventive 
             care, offering health screenings, immunizations, and wellness programs to promote long-term health.
              Financial assistance and counseling are available to help patients manage medical expenses. For employees, 
              hospitals offer competitive salaries, comprehensive health insurance, retirement plans, and opportunities
               for professional development. Work-life balance is supported through paid time off, flexible scheduling, 
               and parental leave. 
            </p>
          </div>
        </div>
      </div>
    </div>
            <h2 style="text-align: center;">Our Mission and Vission</h2><br>
            <!--card start-->
   <div class="card mb-3" style="background-color: rgb(167, 255, 159);;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="doctor3.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-3">About Us</h5>
          <p style="text-align: justify;" class="card-text">As of my last update in 2023, I don't have specific details about a hospital
             named "Rhock." It's possible that it's a new or less widely known institution, or it might be a misspelling or alternate name
              for a hospital you're thinking of. To find the vision and mission statements of a specific hospital, you would typically check 
              their official website or contact them directly. Hospitals often share their vision and mission statements to communicate their 
              core values, goals, and commitment to patient care. If you provide more details or correct the name, I might be able to offer 
              more targeted information.We are committed to delivering comprehensive medical services through a team of skilled professionals 
              who work collaboratively to ensure the best outcomes. Our mission is to advance health through innovative treatments, education, 
              community outreach, while fostering an environment of safety, integrity, and compassion. We aim to support our patients and their families with dedication,
               ensuring they receive the highest standard of care every step of the way.
           </p>
          </div>
        </div>
      </div>
    </div>
           
       <!--card end-->
       

<%-include('footer')%>