<%-include('header')%>
    <body class="bg-info-subtle">
 <!--Navbar Start-->

<nav class="navbar navbar-expand-lg p-3 mb-2 p-3 mb-2 bg-info text-white ">
  <div  class="container-fluid ">
    <a class="navbar-brand text-white fs-3 " href="/">Rhock Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-info text-danger-emphasis " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title " id="offcanvasDarkNavbarLabel">Spice Delight Bistro</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active text-dark active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              For Patient
            </a>
          <ul class="dropdown-menu bg-info-subtle">
            <li><a class="dropdown-item " href="/test">Test Booking</a></li>
            
          </ul>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lab Test
            </a>
          <ul class="dropdown-menu bg-info-subtle">
            <li><a class="dropdown-item " href="/blood">Blood Test</a></li>
            <li><a class="dropdown-item" href="/urine">Urine Text</a></li>
            <li><a class="dropdown-item" href="/imaging">Imaging Test</a></li>
            <li><a class="dropdown-item" href="/micro">Microbiology Test</a></li>
            <li><a class="dropdown-item" href="/patho">Pathology Test</a></li>
            <li><a class="dropdown-item" href="/genetic">Genetic Test</a></li>
            <li><a class="dropdown-item" href="/cardiac">Cardiac Test</a></li>
            <li><a class="dropdown-item" href="/infectious">Infectious Disease Test</a></li>

          </ul>
          </li>
         
          <li class="nav-item mx-1">
            <a class="nav-link text-white " aria-current="page" href="/service">Service</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-white " aria-current="page" href="/test">Book a Test</a>
          </li>
          <li class="nav-item mx-1">
              <a class="nav-link text-white " aria-current="page" href="/about">About Us</a>
            </li>
            
            <li class="nav-item mx-1">
              <a class="nav-link text-white " aria-current="page" href="/contact">Contact Us</a>
            </li>
            
            
            
          </li>
        </ul>
      <!--Login-->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-2"> 
          <a href="/login" class="text-info text-decoration-none px-3 py-2  rounded-4" style="background-color: beige;">Login</a>
        
        </div>
      </div>
    </div> 
  </div>
</nav>
<!--NavBar End-->
<br>
      <h2 style="text-align: center;">Cardiologist</h2>
    <h5 style="text-align: center;">Doctor</h5>
    <!--card start-->
   <br>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <img  style="border-radius: 10px;" src="sarah.jpg">
              <h6>Sarah Lee</h6>
            </div>
            <div class="col">
              <img style="border-radius: 10px;" src="john.jpg">
              <h6>Dr. John Doe</h6>
            </div>
            <div class="col">
                <img style="border-radius: 10px;" src="smith.jpg">
                <h6>Dr. Jane Smith</h6>
              </div>
            <div class="col">
              <img style="border-radius: 10px;" src="david.jpg">
             <h6>Dr. David Kim</h6>
            </div>
          </div>
        </div>
    </div>
      
    </div>
  </div>
     <!--card end--><br>
     <h2 style="text-align: center;">Neurologist</h2>
    <h5 style="text-align: center;">Doctor</h5>
      <!--card start-->
   <br>

   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <div class="container text-center">
             <div class="row">
               <div class="col">
                 <img  style="border-radius: 10px;" src="richard.jpg">
                 <h6>Dr. Richard Restak</h6>
               </div>
               <div class="col">
                 <img style="border-radius: 10px;" src="antonia.jpg">
                 <h6>Dr. Antonio Damasio </h6>
               </div>
               <div class="col">
                   <img style="border-radius: 10px;" src="carson.jpg">
                   <h6>Dr. Ben Carson </h6>
                 </div>
               <div class="col">
                 <img style="border-radius: 10px;" src="helen.png">
                <h6>Dr. Helen S. Mayberg</h6>
               </div>
             </div>
           </div>
       </div>
         
       </div>
     </div>
        <!--card end--><br>
        <h2 style="text-align: center;">Pediatrician</h2>
        <h5 style="text-align: center;">Doctor</h5>
          <!--card start-->
       <br>
    
       <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
           <div class="carousel-inner">
             <div class="carousel-item active">
               <div class="container text-center">
                 <div class="row">
                   <div class="col">
                     <img  style="border-radius: 10px;" src="alana.jpg">
                     <h6>Dr. Hina Talib</h6>
                   </div>
                   <div class="col">
                     <img style="border-radius: 10px;" src="brown.jpg">
                     <h6>Dr. Samira Brown </h6>
                   </div>
                   <div class="col">
                       <img style="border-radius: 10px;" src="alexa.jpg">
                       <h6>Dr. Alexa Mieses Malchuk </h6>
                     </div>
                   <div class="col">
                     <img style="border-radius: 10px;" src="amena.jpg">
                    <h6>Dr. Mona Amin</h6>
                   </div>
                 </div>
               </div>
           </div>
             
           </div>
         </div>
            <!--card end--><br>
            <h2 style="text-align: center;">Orthopedic Surgeon</h2>
            <h5 style="text-align: center;">Doctor</h5>
              <!--card start-->
           <br>
        
           <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <div class="container text-center">
                     <div class="row">
                       <div class="col">
                         <img  style="border-radius: 10px;" src="mathew.jpg">
                         <h6>Dr. Matthew Varacallo</h6>
                       </div>
                       <div class="col">
                         <img style="border-radius: 10px;" src="cosey.jpg">
                         <h6>Dr. Casey Davidson </h6>
                       </div>
                       <div class="col">
                           <img style="border-radius: 10px;" src="cole.jpg">
                           <h6>Dr. Brian Cole </h6>
                         </div>
                       <div class="col">
                         <img style="border-radius: 10px;" src="geier.jpg">
                        <h6>Dr. David Geier</h6>
                       </div>
                     </div>
                   </div>
               </div>
                 
               </div>
             </div>
                <!--card end-->
<%-include('footer')%>