<%-include('header')%>
    <body class="bg-info-subtle">
 <!--Navbar Start-->

<nav class="navbar navbar-expand-lg p-3 mb-2 p-3 mb-2 bg-info text-white ">
  <div  class="container-fluid ">
    <a class="navbar-brand text-white fs-3 " href="/">Rhock Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-info text-danger-emphasis " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title " id="offcanvasDarkNavbarLabel">Spice Delight Bistro</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              For Patient
            </a>
          <ul class="dropdown-menu bg-info-subtle">
            <li><a class="dropdown-item " href="/test">Test Booking</a></li>
            
          </ul>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lab Test
            </a>
          <ul class="dropdown-menu bg-info-subtle">
            <li><a class="dropdown-item " href="/blood">Blood Test</a></li>
            <li><a class="dropdown-item" href="/urine">Urine Text</a></li>
            <li><a class="dropdown-item" href="/imaging">Imaging Test</a></li>
            <li><a class="dropdown-item" href="/micro">Microbiology Test</a></li>
            <li><a class="dropdown-item" href="/patho">Pathology Test</a></li>
            <li><a class="dropdown-item" href="/genetic">Genetic Test</a></li>
            <li><a class="dropdown-item" href="/cardiac">Cardiac Test</a></li>
            <li><a class="dropdown-item" href="/infectious">Infectious Disease Test</a></li>

          </ul>
          </li>
         
          <li class="nav-item mx-1">
            <a class="nav-link text-dark active " aria-current="page" href="/service">Service</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link text-white " aria-current="page" href="/test">Book a Test</a>
          </li>
          <li class="nav-item mx-1">
              <a class="nav-link text-white " aria-current="page" href="/about">About Us</a>
            </li>
            
            <li class="nav-item mx-1">
              <a class="nav-link text-white " aria-current="page" href="/contact">Contact Us</a>
            </li>
            
            
            
          </li>
        </ul>
      <!--Login-->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-2"> 
          <a href="/login" class="text-info text-decoration-none px-3 py-2  rounded-4" style="background-color: beige;">Login</a>
        
        </div>
      </div>
    </div> 
  </div>
</nav>
<!--NavBar End-->
      <!--carosal start-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="margin-top: -8px;" >
      <div class="carousel-item active">
        <img src="urine.png" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div><br>
<!--carosal end-->

<h1 style="text-align: center;" class="text1">Laboratory Test</h1><br>
<h2 style="text-align: center;" class="text1">Urine Test</h2><br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <img  style="border-radius: 10px;" src="uuuu.jpg">
        <h6>Urinalysis</h6>
      </div>
      <div class="col">
        <img style="border-radius: 10px;" src="uuuu00.jpg">
        <h6>Urine Culture</h6>
      </div>
      <div class="col">
        <img style="border-radius: 10px;" src="urine.jpg">
       <h6>24-Hour Urine Collection</h6>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img style="border-radius: 10px;" src="urine2.jpg">
        <h6>Specialized Urine Tests</h6>
      </div>
      <div class="col">
        <img style="border-radius: 10px;" src="urine3.jpg">
        <h6>Urine Protein</h6>
      </div>
      <div class="col">
        <img  style="border-radius: 10px;" src="urine4.jpg">
        <h6>Urine Glucose</h6>
      </div>
    </div>
  </div>

<%-include('footer')%>
  